.Header {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  padding:40px;
  color:white;
}
.Footer {
  padding:20px;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  color:white;
}
.Site-content {
  padding:20px 40px;
}
.App {
  display:flex;
  min-height:100vh;
  flex-direction: column;
}
.Site-content {
  flex:1;
}
li {
  list-style-type: none;
  padding:10px;
}